# Secrets
.env

# Build output
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.factorypath
.project
.settings
.apt_generated
.springBeans
.sts4-cache

# OS
.DS_Store
